<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Change Password</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
	<script>
		function submitForm() {
		    document.getElementById('registerForm').submit();
		}
	</script>
</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-lg-12">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Enter New Password</h1>
                                    </div>
                                    <div class="text-center">
									    <form class="user" action="change_Password" method="post">
									        <div class="form-group">
									            <input type="password" name ="password" class="form-control form-control-user"
                                            id="exampleInputPassword" placeholder="Password"required>
                                             <small style="font-size: 0.875rem;" id="passwordHelp" class="error"></small>
									        </div>
									        <input type="submit" value="Send." class="btn btn-primary btn-user btn-block">     
									    </form>
                                    </div>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="/">Login</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="#" onclick="submitForm()">Create an Account!</a>

										<form id="registerForm" action="register" method="get" style="display:none;">
										</form>
									</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

<script>
document.getElementById('exampleInputPassword').addEventListener('input', function() {
    var password = this.value;
    var helpText = document.getElementById('passwordHelp');
    var isValid = true;
    var messages = [];
    
    
    // Check minimum length
    
    // Priority 1: Check minimum length
    if (password.length < 8) {
        isValid = false;
        message = "Password must be at least 8 characters long.";
    }
    // Priority 2: Check for uppercase letter
    else if (!/[A-Z]/.test(password)) {
        isValid = false;
        message = "Password must contain at least one uppercase letter.";
    }
    // Priority 3: Check for lowercase letter
    else if (!/[a-z]/.test(password)) {
        isValid = false;
        message = "Password must contain at least one lowercase letter.";
    }
    // Priority 4: Check for number
    else if (!/\d/.test(password)) {
        isValid = false;
        message = "Password must contain at least one number.";
    }else{
    	isValid = true;
    	message = "";
    }
    

    
    helpText.textContent = message;
    helpText.className = isValid ? "valid" : "error";
    this.setCustomValidity(isValid ? "" : "Invalid password.");
});
</script>

</body>

</html>